
************************************ WARNING ****************************************************
UNAUTHORIZED ACCESS TO THIS DEVICE {{ ansible_host}} IS PROHIBITED

You must have explicit, authorized permission to access or configure this device. 
Unauthorized attempts and actions to access or use this system may result in civil and/or criminal penalties. 
All activities performed on this device are logged and monitored.

Please contact {{ sys_admin }} if  you need access to this machine.
login in date time {{ ansible_date_time.iso8601 }}
*************************************************************************************************
